# ASSIGNMENT-1

In [ ]:
import pandas as pd
import numpy as np

##  TASK 1

In [21]:
df = pd.DataFrame(np.random.randint(50, size = (4,4)))
df

    0   1   2   3
0  25  35  19  48
1  48  36  29  34
2   7  29  41  23
3  32  12  35  17

## TASK 2

In [22]:
df.columns = [f'Random value {i}' for i in range(1,5)]
df

   Random value 1  Random value 2  Random value 3  Random value 4
0              25              35              19              48
1              48              36              29              34
2               7              29              41              23
3              32              12              35              17

##  TASK 3

In [23]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean        28.000000       28.000000       31.000000       30.500000
std         16.990193       11.105554        9.380832       13.625956
min          7.000000       12.000000       19.000000       17.000000
25%         20.500000       24.750000       26.500000       21.500000
50%         28.500000       32.000000       32.000000       28.500000
75%         36.000000       35.250000       36.500000       37.500000
max         48.000000       36.000000       41.000000       48.000000

## TASK 4

In [38]:
print(df.isnull().any())

Random value 1    False
Random value 2    False
Random value 3    False
Random value 4    False
dtype: bool

In [30]:
print(df.info())

Random value 1    False
Random value 2    False
Random value 3    False
Random value 4    False
dtype: bool
-----------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  4 non-null      int64
 1   Random value 2  4 non-null      int64
 2   Random value 3  4 non-null      int64
 3   Random value 4  4 non-null      int64
dtypes: int64(4)
memory usage: 260.0 bytes
None

##  TASK 5

In [37]:
print(df.loc[:, 'Random value 2' : 'Random value 3'])

   Random value 2  Random value 3
0              35              19
1              36              29
2              29              41
3              12              35

In [40]:
print(df.iloc[:, 1:3])

   Random value 2  Random value 3
0              35              19
1              36              29
2              29              41
3              12              35